

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jersey+10+Charted&family=Jersey+15+Charted&family=Permanent+Marker&family=Tac+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 2rem 0;
  display: flex;
 justify-content: center;
  min-width: 320px;
  min-height: 100vh;
	background-color: #130B1B;
}





